
   <div class="jumbotron">
    <div class="container">
      <p><canvas id="movie" width="512" height="512" style="margin: auto auto; display: block"></canvas></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Dropkick</h2>
        <p>
          <select [(ngModel)]="selectedKickee" (ngModelChange)="onChangeKickee($event)">
          <option *ngFor="let kickee of kickees" [ngValue]="kickee">{{kickee.name}}</option>
        </select>
        
          <p>Choose something to dropkick.</p>
     </div>
      <div class="col-md-4">
        <h2>Babies</h2>
        <p>
          <select [(ngModel)]="selectedKicker" (ngModelChange)="onChangeKicker($event)">
            <option *ngFor="let kicker of kickers" [ngValue]="kicker">{{kicker.name}}</option>
          </select>
        </p>
        <p>Choose the baby to be dropkicking. We love Dropkicking Babies!</p>
      </div>
      <div class="col-md-4">
        <h2>Action!</h2>
        <p>Dropkicking baby is ready to go!</p>
        <p><a class="btn btn-default" href="#" role="button" ng-show="selectedKickerData != null &amp;&amp; selectedKickeeData != null" (click)="onClickDropKick()">Dropkick {{selectedKicker?.name ?? "Nothing"}} with {{selectedKickee?.name ?? "Nothing"}} &raquo;</a></p>
      </div>
    </div>